<h1>Cocktails</h1>
<%#= link_to "add a new cocktail", new_cocktail_path  %>
<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-description">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </div>
       </div>
    <% end %>
  </div>
 </div>
