<h1>Cocktails</h1>
<%#= link_to "add a new cocktail", new_cocktail_path  %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
     <%= render 'card', cocktail: cocktail %>
    <% end %>
  </div>
 </div>

